#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	[ -d vendor/ ] || go mod vendor
	dh_auto_clean

override_dh_install:
	dh_install
	find debian/grubzfs-testsuite -type f -name '.git*' -exec rm {} \;
